.nav-item.nav-link button {
    background-color: royalblue;
    border: none;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.nav-item.nav-link button button:hover {
    background-color: rgb(42, 86, 218);
}

.navbar-nav a:hover {
    color: royalblue;
}

.navbar-nav {
    margin-left: auto;
}