/* Adding a black background image */
footer {
    background-image: url(../img/black.png);
}

/* For the two columns */
.col-md-6 {
    background-color: white;
    border: black outset;
    border-width: thin;
}

/* For the first/left column */
.col-md-6.left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* For the second/right column */
.col-md-6.right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* When the width of the screen is lower or equal to 767 px */
@media (max-width:767px) {
    /* For the first/left column */
    .col-md-6.left {
        /* top-left, top-right, bottom-right, bottom-left */
        border-radius: 15px 15px 0px 0px;
    }
    /* For the second/right column */
    .col-md-6.right {
        border-radius: 0px 0px 15px 15px;
    }
}

/* Moving the two columns up, to be above the second section image */
.lifestyle {
    transform: translateY(-10%);
}

/* The column titles  */
.description-title {
    color: black;
}

/* When hovering over the column titles  */
.description-title:hover {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

/* Introduction */
.divider {
    background-image: url(../img/1_black.jpg);
    background-repeat: no-repeat;
    /* To cover the whole section */
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    /* Changing the color of the text white */
    color: white;
}

/* Greeting */
.divider > .greeting{
    /* top, right & left, bottom */
    padding: 144px 24px 25px;
}
/* Introduction */
.divider > .introduction{
    /* top, right, bottom, left */
    margin: 0px 25% 0px 25%;
}

.experiences {
    background-color: rgb(253, 235, 208);
}

/* The social icons */
.fab {
    color: white;
}

.first-body {
    /* top & bottom, left & right */
    padding: 40px 10%;
    text-align: center;
}

.first-body > .title {
    margin-bottom: 24px;
    font-weight: bold;
}

.first-body > .subtitle {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: x-large;
}

.footer-copyright {
    font-size: normal;
}

.list-title {
    margin-bottom: 8px;
    font-weight: bolder;
    color: darkblue;
}

/* Contact button on the nav bar */
.nav-item.nav-link button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

/* When the mouse hovers above the contact me button */
.nav-item.nav-link button:hover {
    background-color: darkblue;
}

.navbar-nav {
    /* right-aligning it */
    margin-left: auto;
}

.professional-pic {
    width: 246px;
    height: 300px;
}

.top-five-details > li{
    margin-bottom: 5px;
}

.top-header {
    /* top, right, bottom, left */
    padding: 20px 10% 15px 10%;
}