ul {
    list-style-type: none;
    padding: 0;
}

.col-md-6 {
    background-color: white;
    border: black outset;
    border-width: thin;
}

.col-md-6.left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.col-md-6.right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container {
    transform: translateY(-10%);
}

.divider {
    background-image: url(../img/1_black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    color: white;
}

.divider > .greeting{
    /* top, right & left, bottom */
    padding: 144px 24px 25px;
}

.divider > .introduction{
    /* top, right, bottom, left */
    margin: 0px 25% 0px 25%;
}

.first-body {
    /* top & bottom, left & right */
    padding: 40px 10%;
    text-align: center;
}

.first-body > .title {
    margin-bottom: 24px;
    font-weight: bold;
}

.first-body > .subtitle {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: x-large;
}

.nav-item.nav-link button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.nav-item.nav-link button:hover {
    background-color: darkblue;
}

.navbar-nav {
    /* right-aligning it */
    margin-left: auto;
}

.perspective {
    color: black;
}

.perspective:hover {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

.top-header {
    /* top, right, bottom, left */
    padding: 20px 10% 15px 10%;
}

/* 
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display: none;
}

.navbar-toggler>.close {
    display: inline;
} */